.fonctionnement {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  padding-top: 30px;
  padding-bottom: 50px;
  h2 {
    width: 90%;
    padding-left: 25px;
    margin-bottom: 0px;
  }
  ul {
    list-style: none;
    padding-left: 0px;
    width: 90%;
  }
  a {
    text-decoration: none;
    color: black;
    height: 70px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: 15px;
    border-radius: 20px;
    background-color: $color-back;
    box-shadow: 2px 4px 10px $color-shadow;
  }
  &_choice {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 27px;
    padding-right: 20px;
    &--number {
      position: absolute;
      background-color: $color-primary;
      color: $color-white;
      width: 25px;
      height: 20px;
      padding-top: 4px;
      border-radius: 20px;
      left: 20px;
      margin-top: 0px;
    }
    &--icon {
      color: $color-txt;
      margin-left: 2rem;
    }
    &--txt {
      font-weight: bold;
      margin-left: 2rem;
    }
  }
}
