nav {
  background-color: red;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  box-shadow: 0 0 5px 0 black;
}

.logo {
  width: 50%;
  background-color: yellow;
  margin-top: 20px;
  margin-bottom: 20px;
}

.localisation {
  background-color: blue;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  padding-top: 10px;
  padding-bottom: 10px;
}
