header {
  background-color: #eaeaea;
  position: relative;
  nav {
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    box-shadow: 0 0 5px 0 black;
    .logo {
      width: 50%;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
  .back {
    position: absolute;
    top: 20px;
    left: 20px;
    color: $color-txt;
  }
  .localisation {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    padding-top: 0px;
    padding-bottom: 10px;
    margin-top: 10px;
    font-size: 0.9em;
    &_city {
      padding-top: 5px;
      display: flex;
      flex-direction: row;
      .icon {
        margin-left: 100px;
        padding-top: 3px;
        font-size: 1.05em;
      }
      &--spacing {
        padding-left: 5px;
        font-size: 16px;
        font-weight: bold;
        color: black;
        border: none;
        height: 20px;
        background-color: #eaeaea;
      }
      input::placeholder {
        color: black;
        opacity: 1;
      }
    }
  }
  .introduction {
    background-color: $color-back;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    &_btn {
      margin-bottom: 40px;
    }
    &_title {
      text-align: center;
      font-size: 1.3em;
      font-weight: bold;
      margin-bottom: 0px;
      padding-left: 60px;
      padding-right: 60px;
      line-height: 30px;
    }
    &_catch {
      text-align: center;
      padding-left: 30px;
      padding-right: 30px;
      color: $color-txt;
    }
  }
}
