@charset "UTF-8";
.btn {
  background: #9356dc;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  color: white;
  border: 0px solid;
  box-shadow: 2px 4px 5px #b5b2b2;
  text-align: center;
  border-radius: 50px;
  padding: 15px;
}

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
}

@keyframes bouge {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes disparition {
  100% {
    transform: translateY(-9999vh);
  }
}
@keyframes chargement-home {
  0% {
    opacity: 0.1;
    transform: rotate(180deg);
  }
  15% {
    opacity: 0.3;
    transform: rotate(-90deg);
  }
  40% {
    opacity: 0.5;
    transform: rotate(60deg);
  }
  65% {
    opacity: 0.8;
    transform: rotate(-45deg);
  }
  75% {
    opacity: 1;
    transform: rotate(25deg);
  }
  85% {
    transform: rotate(-15deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: translateY(-90vh);
  }
}
.page_chargement {
  margin-top: 50vh;
  /* poussé de la moitié de hauteur de viewport */
  transform: translateY(-50%);
  /* tiré de la moitié de sa propre hauteur */
  margin-bottom: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  background-color: #99e2d0;
  height: 1000vh;
  position: absolute;
  z-index: 10;
  width: 100%;
  overflow: hidden;
  animation: bouge 3100ms forwards;
  animation: disparition 0ms 3090ms forwards;
  transform-origin: top left;
  position: fixed;
  top: 50%;
  margin-top: -50px;
}
.page_chargement .barre_home {
  width: 200px;
  height: 30px;
  padding: 2px;
  animation: chargement-home 3000ms forwards;
}

header {
  background-color: #eaeaea;
  position: relative;
}
header nav {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  box-shadow: 0 0 5px 0 black;
}
header nav .logo {
  width: 50%;
  margin-top: 20px;
  margin-bottom: 10px;
}
header .back {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #606060;
}
header .localisation {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  padding-top: 0px;
  padding-bottom: 10px;
  margin-top: 10px;
  font-size: 0.9em;
}
header .localisation_city {
  padding-top: 5px;
  display: flex;
  flex-direction: row;
}
header .localisation_city--spacing {
  padding-left: 15px;
  font-weight: bold;
}
header .introduction {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}
header .introduction_btn {
  margin-bottom: 40px;
}
header .introduction_title {
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 0px;
  padding-left: 60px;
  padding-right: 60px;
  line-height: 30px;
}
header .introduction_catch {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  color: #606060;
}

@keyframes activation {
  100% {
    background-color: #f5edff;
  }
}
.fonctionnement {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  padding-top: 30px;
  padding-bottom: 50px;
}
.fonctionnement h2 {
  width: 90%;
  padding-left: 25px;
  margin-bottom: 0px;
}
.fonctionnement ul {
  list-style: none;
  padding-left: 0px;
  width: 90%;
}
.fonctionnement a {
  text-decoration: none;
  color: black;
  height: 70px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  margin-top: 20px;
  margin-left: 15px;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 2px 4px 10px #e3e3e3;
  cursor: pointer;
}
.fonctionnement a:hover {
  animation: activation 600ms forwards;
}
.fonctionnement_choice {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 27px;
  padding-right: 20px;
  position: relative;
}
.fonctionnement_choice--number {
  position: absolute;
  left: -15px;
  top: 25px;
  background-color: #9356dc;
  color: white;
  width: 25px;
  height: 20px;
  padding-top: 4px;
  border-radius: 20px;
  margin-top: 0px;
}
.fonctionnement_choice--icon {
  color: #606060;
  margin-left: 2rem;
}
.fonctionnement_choice--txt {
  font-weight: bold;
  margin-left: 2rem;
}

footer {
  background-color: #353535;
  height: 100%;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
}
footer h4 {
  font-family: "Shrikhand", cursive;
  color: white;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 10px;
}
footer ul {
  list-style: none;
  color: white;
  margin: 0px;
  padding: 0px;
}
footer li {
  margin-top: 5px;
}
footer a {
  text-decoration: none;
  color: white;
}
footer .bold {
  font-weight: bold;
  padding-left: 10px;
}

.restaurants {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  height: 120%;
}
.restaurants h2 {
  width: 90%;
  padding-left: 25px;
  margin-bottom: 0px;
  margin-top: 50px;
}
.restaurants ul {
  list-style-type: none;
  padding-left: 0px;
  width: 90%;
  padding-bottom: 40px;
}
.restaurants a {
  text-decoration: none;
  color: black;
}
.restaurants li {
  margin-top: 10px;
  width: 100%;
  height: 230px;
  border-radius: 14px 14px 14px 14px;
  box-shadow: 2px 4px 10px #e3e3e3;
}
.restaurants img {
  width: 100%;
  height: 170px;
  background-size: cover;
  background-position: center;
  border-radius: 14px 14px 0 0;
  object-fit: cover;
}
.restaurants h3 {
  font-size: 18px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}
.restaurants_name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurants_name--place {
  margin-left: 10px;
}
.restaurants_name--place div {
  color: #606060;
}
.restaurants_name--like {
  color: #606060;
  margin-right: 20px;
  margin-top: 15px;
  font-size: 20px;
}
.restaurants_name--like:hover .heartNoColor {
  opacity: 0;
}
.restaurants_name--like:hover .heartColor {
  opacity: 1;
  color: #9356dc;
  color: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
}

.heartColor {
  opacity: 0;
  position: absolute;
  right: 20px;
}

.photo {
  position: relative;
}

.new {
  position: absolute;
  right: 15px;
  top: -140px;
  color: green;
  font-weight: bold;
  border-radius: 2px;
  padding: 10px;
  background-color: #99e2d0;
}

@keyframes appearance {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes gap {
  0% {
    width: 90%;
  }
  100% {
    width: 60%;
  }
}
.menu1 {
  width: 100%;
  margin-bottom: 0px;
  padding-bottom: 0px;
  position: relative;
  padding-top: 180px;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  background-image: url("../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.menu2 {
  width: 100%;
  margin-bottom: 0px;
  padding-bottom: 0px;
  position: relative;
  padding-top: 180px;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  background-image: url("../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.menu3 {
  width: 100%;
  margin-bottom: 0px;
  padding-bottom: 0px;
  position: relative;
  padding-top: 180px;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  background-image: url("../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.menu4 {
  width: 100%;
  margin-bottom: 0px;
  padding-bottom: 0px;
  position: relative;
  padding-top: 180px;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  background-image: url("../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

section {
  background-color: #f6f6f6;
  padding: 20px;
  margin-top: 0px;
  border-radius: 40px 40px 0 0;
}
section h1 {
  width: 90%;
  font-family: "Shrikhand", cursive;
  font-size: 1.5rem;
  font-weight: 100;
}
section .title {
  display: flex;
  flex-direction: rows;
  justify-content: space-between;
}
section .title_icon {
  color: #606060;
  font-size: 1.5rem;
  padding-top: 15px;
}
section ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
section .dish {
  width: 100%;
}
section .dish h2 {
  text-transform: uppercase;
  font-size: 1rem;
  color: #606060;
  width: 40px;
  font-weight: 400;
  border-bottom: 3px solid #99e2d0;
  padding-bottom: 5px;
}
section .dish_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
section .dish_list--organisation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 4px 10px #e3e3e3;
  padding-left: 1rem;
  margin-bottom: 15px;
  opacity: 0;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
section .dish_list--organisation:hover > .valide2 {
  transform: translateX(-60px);
}
section .dish_list--organisation:hover span {
  transform: translate(-60px);
}
section .dish_list--organisation:hover .gap {
  animation: gap 630ms forwards;
}
section .dish_list--organisation:hover .checked {
  transform: rotate(360deg);
}
section .dish_list--organisation h3 {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  font-size: 0.9rem;
  text-overflow: ellipsis;
  width: 90%;
  display: block;
  overflow: hidden;
}
section .dish_list--organisation div {
  font-size: 0.9rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 90%;
  display: block;
  overflow: hidden;
  padding-bottom: 10px;
}
section .dish_list--organisation span {
  padding-right: 1rem;
  padding-top: 2.7rem;
  font-size: 0.9rem;
  font-weight: bold;
  transition: transform 630ms;
}
section .dish_list .valide2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  transition: transform 630ms;
  position: absolute;
  right: -60px;
  height: 100%;
  width: 60px;
}

.menu1_btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.menu1_btn .btn {
  width: 180px;
}

.menu2_btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.menu2_btn .btn {
  width: 180px;
}

.menu3_btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.menu3_btn .btn {
  width: 180px;
}

.menu4_btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.menu4_btn .btn {
  width: 180px;
}

.dish_list .dish_list--organisation:nth-child(1) {
  animation: appearance 1000ms forwards;
  animation-delay: 0s;
}

.dish_list .dish_list--organisation:nth-child(2) {
  animation: appearance 1000ms forwards;
  animation-delay: 500ms;
}

.dish_list .dish_list--organisation:nth-child(3) {
  animation: appearance 1000ms forwards;
  animation-delay: 1s;
}

.dish_list .dish_list--organisation:nth-child(4) {
  animation: appearance 1000ms forwards;
  animation-delay: 1.5s;
}

.checked {
  color: white;
  font-size: 20px;
  transition: transform 630ms;
}

@media (min-width: 375px) {
  .menu1 {
    padding-top: 210px;
  }

  .menu2 {
    padding-top: 210px;
  }

  .menu3 {
    padding-top: 210px;
  }

  .menu4 {
    padding-top: 210px;
  }
}
@media (min-width: 767px) {
  .logo {
    width: 100px;
    height: 50px;
  }

  .fonctionnement li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fonctionnement .pointer {
    width: 300px;
  }

  .restaurants ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .restaurants li {
    height: 300px;
    width: 700px;
    margin-bottom: 30px;
  }
  .restaurants img {
    height: 75%;
  }
  .restaurants .new {
    top: -180px;
  }

  .menu1 {
    padding-top: 400px;
  }
  .menu1 .dish {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu1 .dish_list--organisation {
    width: 400px;
  }
  .menu1 section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu2 {
    padding-top: 400px;
  }
  .menu2 .dish {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu2 .dish_list--organisation {
    width: 400px;
  }
  .menu2 section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu3 {
    padding-top: 400px;
  }
  .menu3 .dish {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu3 .dish_list--organisation {
    width: 400px;
  }
  .menu3 section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu4 {
    padding-top: 400px;
  }
  .menu4 .dish {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu4 .dish_list--organisation {
    width: 400px;
  }
  .menu4 section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    width: 500px;
  }
}
@media (min-width: 1023px) {
  .fonctionnement ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .fonctionnement li {
    margin-left: 20px;
  }

  .menu1 {
    padding-top: 550px;
  }

  .menu2 {
    padding-top: 550px;
  }

  .menu3 {
    padding-top: 550px;
  }

  .menu4 {
    padding-top: 550px;
  }
}
@media (min-width: 1390px) {
  .menu1 {
    padding-top: 800px;
  }

  .menu2 {
    padding-top: 800px;
  }

  .menu3 {
    padding-top: 800px;
  }

  .menu4 {
    padding-top: 800px;
  }
}

/*# sourceMappingURL=style.css.map */
