.btn {
  background: rgb(147, 86, 220);
  background: linear-gradient(
    0deg,
    rgba(147, 86, 220, 1) 0%,
    rgba(255, 121, 218, 1) 100%
  );
  color: $color-white;
  border: 0px solid;
  box-shadow: 2px 4px 5px #b5b2b2;
  text-align: center;
  border-radius: 50px;
  padding: 15px;
  cursor: pointer;
  &:hover {
    background: rgb(147, 86, 220);
    background: linear-gradient(
      0deg,
      rgba(147, 86, 220, 0.75) 0%,
      rgba(255, 121, 218, 0.75) 100%
    );
    box-shadow: 5px 8px 5px #838383;
  }
}
